<div class="container">
    <div class="block">

        <div class="social-block">
            <div class="logo">
                <div> Finance<span class="second-word-logo">Tracking</span></div>
            </div>
            <div class="social-icons">
                <a href=""><img src="../../../../../../assets/icons/instagram.png" alt=""></a>
            <a href=""><img src="../../../../../../assets/icons/facebook.png" alt=""></a>
            <a href=""><img src="../../../../../../assets/icons/twitter.png" alt=""></a>
            <a href=""><img src="../../../../../../assets/icons/youtube.png" alt=""></a>
        </div>
        <div class="rules">2022 FinanceTracking. All rights reserved</div>
    </div>
    <div class="services-block">
        <h1 class="title">Services</h1>
        <ul>
            <li> <a routerLink="/cryptocurrency-list">Cryptocurency</a> </li>
            <li><a routerLink="/news">News</a></li>
            <li><a routerLink="/currency-convert">Converter</a></li>

        </ul>
    </div>
    <div class="learn-block">
        <h1 class="title">Learn</h1>
        <ul>
            <li><a routerLink="/what-is-cryptocurrency">What is Cryptocurency?</a></li>
            <li><a routerLink="/cryptocurrency-list">Market Update</a></li>
        </ul>
    </div>

</div>
</div>
