<app-promo-carousel class="promo"></app-promo-carousel>
<app-currency-ticker></app-currency-ticker>
<div class="container">
    <div class="header-section-container">
        <div class="section-title">FinanceTracking Amazing Faetures</div>
        <div class="section-description">
            Explore sensational features to prepare your best investment in cryptocurrency
        </div>
    </div>
    <div class="section-cards">
        <div class="amazing-card">
            <img
                class="card-icon"
                src="assets/icons/manage-portfolio-ic.png"
                alt="manage-portfolio"
            />
            <h1 class="card-title">Manage Portfolio</h1>
            <p class="card-description">
                Buy and sell popular digital currencies, keep track of them in the one
                place.
            </p>
            <!-- <a class="explained-link">See Explained <img src="assets/icons/arrow.png" alt=""></a> -->
        </div>
        <div class="amazing-card">
            <img
                class="card-icon"
                src="assets/icons/protected-securely-ic.png"
                alt="protected-securely"
            />
            <h1 class="card-title">Protected Securely</h1>
            <p class="card-description">
                All cash balances are covered by FDIC insurance, up to a maximum of
                $250,000.
            </p>
            <!-- <a class="explained-link">See Explained <img src="assets/icons/arrow.png" alt=""></a> -->
        </div>
        <div class="amazing-card">
            <img
                class="card-icon"
                src="assets/icons/cryptocurrency-ic.png"
                alt="cryptocurrency"
            />
            <h1 class="card-title">Cryptocurrency Variety</h1>
            <p class="card-description">
                Supports a variety of the most popular digital currencies and always
                uptodate.
            </p>
            <!-- <a class="explained-link">See Explained <img src="assets/icons/arrow.png" alt=""></a> -->
        </div>
        <div class="amazing-card">
            <img
                class="card-icon"
                src="assets/icons/learn-best-practice-ic.png"
                alt="learn-best-practice"
            />
            <h1 class="card-title">Learn Best Practice</h1>
            <p class="card-description">
                Easy to know how to cryptocurrency works and friendly to newbie.
            </p>
            <!-- <a class="explained-link">See Explained <img src="assets/icons/arrow.png" alt=""></a> -->
        </div>
    </div>
    <div class="new-cryptocurrency">
        <div class="text-section">
            <h1 class="new-cryptocurrency-title">New In Cryptocurrency?</h1>
            <p class="new-cryptocurrency-description">
                We'll tell you what cryptocurrencies are, how they work and why you should
                own one right now. So let's do it.
            </p>
        </div>
        <button class="btn btn-new-cryptocurrency" [routerLink]="['/what-is-cryptocurrency']" routerLinkActive="router-link-active">Learn & Explore Now</button>
    </div>
    <div class="section-market">
        <div class="section-title">Market Update</div>
        <div  class="example-container mat-elevation-z8" >
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- Name Column -->
                <ng-container  matColumnDef="name">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        sortActionDescription="Sort by name"
                    >
                        Name
                    </th>
                    <td  mat-cell *matCellDef="let element">
                        <img
                            class="currency-image"
                            src="{{ element.image }}"
                            width="40"
                            alt=""
                        />
                        <div  class="block-currency-name">
                            <p  class="currency-symbol">
                                {{ element.symbol | uppercase }}
                            </p>
                            <p tabindex="50" class="currency-fullname">
                                {{ element.name }}
                            </p>
                        </div>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="price">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        sortActionDescription="Sort by price"
                    >
                        Price
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.current_price | currency: currency }}
                    </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="price-change">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        sortActionDescription="Sort by price-change"
                    >
                        Change in 24 hours
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.price_change_percentage_24h }}%
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="market_cap">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        sortActionDescription="Sort by market_cap"
                    >
                        Market capitalization
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.market_cap | currency:  currency  }}
                    </td>
                </ng-container>

                <tr class="border-header-row" mat-header-row *matHeaderRowDef="displayedColumns">
                </tr>
                <tr (click)="goToDetails(row)" class="border-row" mat-row *matRowDef="let row; columns: displayedColumns">
                </tr>
            </table>
        </div>
        <a class="cryptocurrency-link" routerLink="/cryptocurrency-list">See All Coins</a>
    </div>
</div>
