<div class="fixed-overlay">
    <div class="auth-page modal-cont">
        <div class="container">
            <div class="row">
                <div class="content-wrapper">
                    <a class="bg-close-icon" (click)="onClose()">
                        <img
                            class="close-icon"
                            src="../../../../../assets/icons/close-icon.png"
                            alt=""
                        />
                    </a>
                    <h1 class="text-xs-center modal-title">Войти</h1>

                    <!-- <app-backend-error-messages *ngIf="backendErrors$ | async" [backendErrors]="backendErrors$ | async">
                    </app-backend-error-messages> -->
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <fieldset>
                            <fieldset class="form-group">
                                <input
                                    type="email"
                                    class="input-control"
                                    placeholder="Электронный адрес"
                                    formControlName="email"
                                />
                            </fieldset>
                            <fieldset class="form-group">
                                <input
                                    type="password"
                                    class="input-control"
                                    placeholder="Пароль"
                                    formControlName="password"
                                />
                            </fieldset>
                            <div *ngIf="!loginForm.pristine; else errorsBlock"></div>
                            <ng-template #errorsBlock>
                                <app-backend-error-messages *ngIf="backendErrors$ | async">
                                </app-backend-error-messages>
                            </ng-template>
                            <p class="text-xs-center">
                                Нет аккаунта?
                                <a
                                    class="toggle-link"
                                    (click)="redirectToSignUp()"
                                    >Зарегистрироваться</a
                                >
                            </p>
                            <button
                                class="btn btn-lg btn-primary pull-xs-right"
                                type="submit"
                                [disabled]="loginForm.invalid || (isSubmitting$ | async)">
                                Далее
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-header"></div>
