<div class="fixed-overlay">
    <div class="auth-page modal-cont">
        <div class="container">
            <div class="row">
                <div class="content-wrapper">
                    <a class="bg-close-icon" (click)="onClose()">
                        <img
                            class="close-icon"
                            src="../../../../../assets/icons/close-icon.png"
                            alt=""
                        />
                    </a>
                    <h1 class="text-xs-center modal-title">Log in</h1>

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <fieldset>
                            <fieldset class="form-group">
                                <input
                                    type="email"
                                    class="input-control"
                                    placeholder="Email address"
                                    formControlName="email"
                                />
                                <mat-error class="validation-errors"
                                    *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                                    <mat-error class="validation-errors"
                                        *ngIf="loginForm.get('email')?.errors?.required">
                                        The email field must not be empty.
                                    </mat-error>
                                    <mat-error class="validation-errors"
                                        *ngIf="loginForm.get('email')?.errors?.email">Enter a valid email
                                    </mat-error>
                                </mat-error>
                            </fieldset>
                            <fieldset class="form-group">
                                <input
                                    type="password"
                                    class="input-control"
                                    placeholder="Password"
                                    formControlName="password"
                                />
                                <mat-error class="validation-errors"
                                    *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                                    <mat-error class="validation-errors"
                                        *ngIf="loginForm.get('password')?.errors?.required">
                                        The password field must not be empty.
                                    </mat-error>
                                    <mat-error class="validation-errors"
                                        *ngIf="loginForm.get('password')?.errors?.minlength">The password field must
                                        used to
                                        {{ loginForm.get("password")?.errors?.minlength?.requiredLength }}
                                        symbols</mat-error>
                                </mat-error>
                            </fieldset>
                            <div *ngIf="!loginForm.pristine; else errorsBlock"></div>
                            <ng-template #errorsBlock>
                                <app-backend-error-messages *ngIf="backendErrors$ | async">
                                </app-backend-error-messages>
                            </ng-template>
                            <p class="text-xs-center">
                                No account?
                                <a
                                    class="toggle-link"
                                    (click)="redirectToSignUp()"
                                    >Sign up</a
                                >
                            </p>
                            <button
                                class="btn btn-lg btn-primary pull-xs-right"
                                type="submit"
                                [disabled]="loginForm.invalid || (isSubmitting$ | async)">
                                Next
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-header"></div>
