<div class="top-bar-wrapper">
    <div class="container header">
        <nav>
            <ul class="topmenu">
                <li><a class="submenu-link" href="#home">Рынки</a>
                    <ul class="submenu">
                        <li><a href="">Криптовалюта</a></li>
                        <li><a href="">Валюты</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Товары</a></li>
                    </ul>
                </li>
                <li><a href="#news">Новости и аналитика</a></li>
                <li><a href="#news">Обучение трейдингу</a></li>
                <li><a href="#about us">О нас</a></li>
            </ul>
        </nav>

        <div class="auth-btns">
            <a class="btn btn-login" (click)="signIn()">Войти</a>
            <a class="btn btn-register" (click)="signUp()">Регистрация</a>
        </div>

    </div>
</div>
<div class="second-section-wrapper">
    <div class="container second-header-container">
        <div class="logo">
            Finance Tracking
        </div>
        <div class="about">Pегулируемая криптобиржа снг</div>
        <div class="currency-ticker"><app-currency-ticker></app-currency-ticker></div>
        <div class="language">RU</div>
    </div>
</div>
