.top-bar-wrapper{
    width: 100%;
    background-color: #232425;
    display: flex;
    flex-direction: column;

}
.container{
    max-width: 1276px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
list-style: none;
background-color: #232425;
}

nav > ul > li {
    float:left
}

nav ul::after{
    content: "";
    display: block;
    clear: both;
}
.topmenu {
    margin: 0;
    padding: 0;
}
.submenu{
    padding: 8px;
    z-index: 100;
}

.topmenu > li a {
    display: flex;
    padding: 10px 0 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #bbbdbf;
}
.topmenu > li {
    margin-right: 20px;
}
.submenu > li > a{
    padding: 10px 0 10px 5px;
}

.topmenu li .submenu li a:hover{
    border-radius: 3px;
    background-color: rgba(207, 207, 207, 0.29);
    color: #ffffff;


}

nav ul li a:hover{
    color: #ffffff;
}

nav ul ul{
    display: none;
    position: absolute;
}

nav ul li:hover ul{
    display: block;
    width: 200px;
}

.btn{
    cursor: pointer;
    font-size: 13px;
    height: 32px;
    padding: 0 16px;
    outline: none;
	border: none;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
	color: #00c46b;
	background-color: #fff;
    font-weight: 700;
}

.btn-login{
    background-color: transparent;
    border: #00c46b 1px solid;
    margin-right: 8px;
}
.btn-register{
    color: #232425;
    background-color: #00c46b;
}

.second-section-wrapper{
    width: 100%;
    background-color: #232425;
}
.second-header-container{
    display: flex;
    align-items: center;
}

.logo{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 20px;
}
.about{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 20px;
}

.currency-ticker{
    margin: 10px;
    background-color: #fff;
    width: 450px;
    height: 40px;

}
.language{
    color: #fff;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}
