<div class="top-bar-wrapper">
    <div class="container header">
        <div class="logo">
            <a routerLink="/home"> Finance<span class="second-word-logo">Tracking</span></a>
        </div>
        <nav>
            <ul class="topmenu">
                <li><a class="submenu-link" routerLink="/cryptocurrency-list">Cryptocurrency</a>
                </li>
                <li><a href="news">News & Analysis</a></li>
                <li><a href="news">Learning to trade</a></li>
                <li><a href="about us">About Us</a></li>
            </ul>
        </nav>

        <div class="auth-btns">
            <ng-container *ngIf="user$| async as user; else loginButton">
                <img class="profile-imge-topbar"
                width="45"
                height="45"
                [src]="user.photoURL ?? 'assets/icons/user-image.png'"
                alt="profile-image"
            />
                <button class="user-name" mat-button [mat-menu-trigger-for]="userMenu">
                    {{user.displayName}}
                    <mat-icon>expand_more</mat-icon>
                </button>
            </ng-container>
            <ng-template #loginButton>
                <div class="btn btn-login" (click)="signIn()">Log in</div>
                <div class="btn btn-register" (click)="signUp()">Sign up</div>
            </ng-template>
        </div>

    </div>
</div>
<mat-menu class="profile-menu" #userMenu="matMenu">
    <div class="profile-menu-item" routerLink="/profile">Profile</div>
    <div class="profile-menu-item">Settings</div>
    <div class="profile-menu-item" (click)="logOut()">Log out</div>
</mat-menu>
