.block {
    height: 45px;
    width: 450px;
    margin: 10px;
    background: #fff;
    overflow: hidden;
}
.block p {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    padding-top: 10px;
    animation: text 5s infinite linear;
    padding-left: 100%;
    white-space: nowrap;
}
@keyframes text {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-160%, 0);
    }
}
