<div class="container">
    <div class="block-news-input">

        <h1 class="title-page">News</h1>
        <input type="text" class="search-input" placeholder="Search news" (change)="getSearchNews($event)">
    </div>
    <div class="btns">
        <button class="btn" (click)="getSearchNews($event)" value="apple">Apple</button>
        <button class="btn" (click)="getSearchNews($event)" value="tesla">Tesla</button>
        <button class="btn" (click)="getSearchNews($event)" value="elon mask">Elon Mask</button>
        <button class="btn" (click)="getSearchNews($event)" value="bitcon">Bitcoin</button>
        <button class="btn" (click)="getSearchNews($event)" value="crypto">Crypto</button>
    </div>
        <div class="section-cards">
            <ng-container  *ngIf="newsData.length else noData">
                <div class="card" *ngFor="let news of newsData">
                    <img class="news-image" [src]="news.urlToImage" alt="">
                    <h1 class="news-title">{{news.title}}</h1>
                    <p class="news-description">{{news.content}}</p>
                    <a class="more-link" [href]="news.url"><p class="more-link">Read more</p></a>
                </div>
            </ng-container>
            <ng-template #noData>
                <h2>No Data</h2>
            </ng-template>
        </div>
</div>

<!-- <div class="container" *ngIf="courses.length; else noCourses">
    <h1>All Courses</h1>
    ....
  </div>

  <ng-template #noCourses>
    <h1>No courses available.</h1>
  </ng-template> -->
