.container {
    max-width: 1276px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-crypto-list {
    background: #181818;
    color: #ffffff;
    height: 25%;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}
.banner-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.banner-description {
    font-size: 24px;
    font-weight: 500;
}
.search-input-cryptocurrency {
    width: 400px;
    height: 50px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    margin-bottom: 45px;
}
// input:focus {
//     border: 1px solid #00c46b;
//   }
.table {
    width: 100%;
}
.table-row {
    width: 100%;
    height: 50px;
    background-color: #2b2c2f;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px 10px 0 0;
}
.item {
    display: flex;
    align-items: center;
    color: #181818;
    background-color: #ffffff;
    border-right: solid 1px #b5b5b5;
    border-left: solid 1px #b5b5b5;
    border-bottom: solid 1px #b5b5b5;
    border-radius: 0;
}
.currency-image {
    margin-right: 10px;
}
table,
thead,
tbody,
th,
td {
    border: none;
}
.thead {
    height: 60px;
    align-items: center;
    background-color: #2b2c2f;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
}

.name {
    padding-left: 20px;
    border-radius: 10px 0 0 0;
}
.market-cap {
    border-radius: 0 10px 0 0;
}
table {
    font-weight: 500;
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
}
th {
    background: #313334;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
}
th,
td {
    border: none;
}
.table thead th {
    vertical-align: middle;
}
td {
    background: transparent;
}
th:first-child,
td:first-child {
    text-align: left;
}

.test {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
}
.test:hover {
    cursor: pointer;
    background-color: rgba(213, 213, 213, 0.436);
}

// -------------------------------------------------------------------
table {
    font-weight: 500;
    font-size: 32px;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

th.mat-sort-header-sorted {
    color: black;
}

td,
th.mat-header-cell {
    text-align: center;
    vertical-align: middle;
}
th:first-child {
    text-align: left;
    border-radius: 20px 0 0 0;
}
th:last-child {
    border-radius: 0 20px 0 0;
}
td.mat-cell {
    border: none;
}
td.mat-cell:first-child {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
th {
    font-size: 16px;
}
tr.mat-row {
    height: 85px;
}
.currency-symbol {
    font-size: 21px;
    font-weight: 300;
}
.currency-fullname {
    font-weight: 200;
    margin: 0;
}
.block-currency-name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
