<div class="banner-crypto-list">
    <div class="container">
        <h1 class="banner-title">Cryptocurrency</h1>
        <p class="banner-description">Trade more than 150 tokens. Increase your crypto assets in Bitcoin and Ethereum.</p>
    </div>
</div>
<div class="container">
    <input class="search-input-cryptocurrency" type="" placeholder="Cryptocurrency name" matInput (keyup)="applyFilter($event)">

    <div  class="example-container mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th class="table-section-name" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                Name
            </th>
            <td mat-cell *matCellDef="let element">
                <img class="currency-image" src="{{element.image}}" width="50" alt="">
                <div class="block-currency-name">
                    <p class="currency-symbol">{{element.symbol | uppercase}}</p>
                    <p class="currency-fullname">
                        {{element.name}}
                    </p>
                </div>
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="price">
            <th class="table-section-name" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
                Price
            </th>
            <td mat-cell *matCellDef="let element"> {{element.current_price | currency: currency}} </td>
        </ng-container>


        <!-- Weight Column -->
        <ng-container matColumnDef="price-change">
            <th class="table-section-name" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price-change">
                Change in 24 hours
            </th>
            <td mat-cell *matCellDef="let element"> {{element.price_change_percentage_24h}}% </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="market_cap">
            <th class="table-section-name" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by market_cap">
                Market capitalization
            </th>
            <td mat-cell *matCellDef="let element"> {{element.market_cap | currency: currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr (click)="goToDetails(row)" class="test" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
    <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
