
<div class="fixed-overlay">
    <app-loading *ngIf="isLoading$ | async"></app-loading>
    <div class="auth-page modal-cont">
        <div class="container">
            <div class="row">
                <div class="content-wrapper">
                    <a class="bg-close-icon" (click)="onClose()"><img class="close-icon"
                            src="../../../../../assets/icons/close-icon.png" alt="" /></a>
                    <h1 class="text-xs-center modal-title">Sign up</h1>

                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <fieldset>
                            <fieldset class="form-group">
                                <input type="text" class="input-control" placeholder="Name" formControlName="displayName" />
                                <mat-error class="validation-errors"
                                    *ngIf="registerForm.get('displayName')?.touched && registerForm.get('displayName')?.invalid">
                                    <mat-error class="validation-errors"
                                        *ngIf="registerForm.get('displayName')?.errors?.required">
                                        The name field must not be empty.
                                    </mat-error>
                                    <mat-error class="validation-errors"
                                        *ngIf="registerForm.get('displayName')?.errors?.maxlength">The field must not exceed
                                        {{ registerForm.get("displayName")?.errors?.maxlength.requiredLength }}
                                        symbols.
                                    </mat-error>
                                </mat-error>
                            </fieldset>
                            <fieldset class="form-group">
                                <input type="email" class="input-control" placeholder="Email address"
                                    formControlName="email" />
                                <mat-error class="validation-errors"
                                    *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
                                    <mat-error class="validation-errors"
                                        *ngIf="registerForm.get('email')?.errors?.required">
                                        The email field must not be empty.
                                    </mat-error>
                                    <mat-error class="validation-errors"
                                        *ngIf="registerForm.get('email')?.errors?.email">Enter a valid email
                                    </mat-error>
                                </mat-error>
                            </fieldset>
                            <fieldset class="form-group">
                                <input type="password" class="input-control" placeholder="Password"
                                    formControlName="password" />
                                <mat-error class="validation-errors"
                                    *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
                                    <mat-error class="validation-errors"
                                        *ngIf="registerForm.get('password')?.errors?.required">
                                        The password field must not be empty.
                                    </mat-error>
                                    <mat-error class="validation-errors"
                                        *ngIf="registerForm.get('password')?.errors?.minlength">The password field must used to
                                        {{ registerForm.get("password")?.errors?.minlength?.requiredLength }}
                                        symbols</mat-error>
                                </mat-error>
                            </fieldset>
                            <fieldset class="form-group">
                                <input type="password" class="input-control"
                                    [style.border]="(registerForm?.errors?.noMatch && registerForm.get('confirmPassword')?.touched) ? '0.4px solid #f10000' : '0.4px solid #00c46b'"
                                    [style.border]=" registerForm.get('confirmPassword')?.untouched ? '0.4px solid #fff' : ''"

                                    placeholder="Confirm password" formControlName="confirmPassword" />
                                <mat-error class="validation-errors"
                                    *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid">
                                    <mat-error class="validation-errors"
                                        *ngIf="registerForm.get('confirmPassword')?.errors?.required">
                                        The password confirmation field must not be empty.
                                    </mat-error>
                                </mat-error>
                                <mat-error class="validation-errors"
                                    *ngIf="registerForm.get('confirmPassword')?.touched"
                                >
                                    <mat-error class="validation-errors" *ngIf="registerForm?.errors?.noMatch">Password does not match</mat-error>
                                </mat-error>
                            </fieldset>
                            <div *ngIf="!registerForm.pristine; else errorsBlock"></div>
                            <ng-template #errorsBlock>
                                <app-backend-error-messages *ngIf="backendErrors$ | async">
                                </app-backend-error-messages>
                            </ng-template>
                            <p class="text-xs-center">
                                Do you already have an account?
                                <a class="toggle-link" (click)="redirectToLogin()">Log in</a>
                            </p>
                            <button class="btn btn-lg btn-primary pull-xs-right" type="submit"
                                [disabled]="registerForm.invalid || (isSubmitting$ | async)">
                                Next
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
